# Copyright (c) 2025 Andreas Wolf <awolf002@gmail.com>
# SPDX-License-Identifier: Apache-2.0

config GPIO_SN74LVC1G373
	bool "SN74LVC1G373 single D-Type latch as GPIO output"
	default y
	depends on DT_HAS_TI_SN74LVC1G373_ENABLED
	depends on SPI
	help
	  Use SN74LVC1G373 as single-channel GPIO output via SPI ('CS' = 'LE', 'CODI' = 'D')

if GPIO_SN74LVC1G373

config GPIO_SN74LVC1G373_INIT_PRIORITY
	int "Init priority"
	default 71
	help
	  Device driver initialization priority.

endif